<script>
  $(function() {

    var defaultZoom = 13;

    var map = L.mapbox.map('map-canvas', "swirrl.map-gowc8qqk", {
      scrollWheelZoom: false,
      center: [<%= organization.site.lat %>, <%= organization.site.long %>],
      zoom: 13
    });

    var marker = L.marker(new L.LatLng("<%= organization.site.lat %>", "<%= organization.site.long %>"), {
      icon: new L.Icon({
        iconSize: new L.Point(14, 20),
        iconUrl: "/assets/pin.png"
      })
    }).bindPopup('<p class="name"><a href="<%= resource_path_from_uri(organization.uri) %>"><%= organization.label %></a></p><p class="address"><%= organization.site.address.label %></p>', {
      closeButton: false
    });
  
    marker.addTo(map);

  });

</script>