:ruby
  cs_scheme_facets = {
    "http://tsb-projects.labs.theodi.org/def/concept-scheme/project-statuses" => "status_label",
    "http://tsb-projects.labs.theodi.org/def/concept-scheme/enterprise-sizes" => "participant_size_labels",
    "http://tsb-projects.labs.theodi.org/def/concept-scheme/legal-entity-forms" => "legal_entity_form_labels",
    "http://tsb-projects.labs.theodi.org/def/concept-scheme/legal-entity-forms" => "legal_entity_form_labels",
    "http://tsb-projects.labs.theodi.org/def/concept-scheme/products" => "product_label"
  }

  search_attr = cs_scheme_facets[concept.in_scheme.to_s]
  search_params = { search_attr => { concept.label => true } }

  if (search_attr)
    projects = Search.new(search_params).results
  end

  concept_scheme = PublishMyData::ConceptScheme.find(concept.in_scheme)
  concept_scheme_label = concept_scheme.label rescue "Concept Scheme"
  concept_scheme_singular_label = concept_scheme_label.singularize

- content_for :header do
  %h3
    = concept_scheme_singular_label
  %h1
    = concept.label.humanize

- content_for :advanced do
  = render 'application/advanced_resource_details', resource: concept

#concept-page
  #concept-main
    #concept-primary
      - if concept.read_predicate(RDF::SKOS.definition).any?
        #concept-description
          %div Definition
          %div
            - concept.read_predicate(RDF::SKOS.definition).each do |obj|
              = resource_uri_or_label(concept, obj)

    - if search_attr

      #concept-secondary
        #concept-project-count
          %div Number of projects
          %div
            %span= projects.total
            projects

      - if projects.total > 0
        #concept-figures
          #concept-total-grant
            %div Total grant
            .figure
              .pounds &pound;#{number_with_delimiter projects.facets["offer_grant_stats"]["total"].to_i}
              .pence .#{"%.2d" % (projects.facets["offer_grant_stats"]["total"].modulo(1).round(2) * 100).to_i}

          #concept-average-grant
            %div Average grant
            .figure
              .pounds &pound;#{number_with_delimiter projects.facets["offer_grant_stats"]["mean"].to_i}
              .pence .#{"%.2d" % (projects.facets["offer_grant_stats"]["mean"].modulo(1).round(2) * 100).to_i}

        #concept-progress
          #concept-progress-bar
            .prog-bar-background
              .prog-bar-fill{ style: "width: #{((projects.facets["offer_grant_stats"]["total"].to_f / projects.facets["offer_cost_stats"]["total"]) * 100).round}%;"}

        #concept-total-cost
          %div
            Total grant is
            %span.percent #{((projects.facets["offer_grant_stats"]["total"].to_f / projects.facets["offer_cost_stats"]["total"]) * 100).round(1)}%
            of total cost
            (<span class='total-cost'>#{number_to_currency projects.facets["offer_cost_stats"]["total"].to_f, unit: '&pound;'}</span>)

        #concept-search
          #concept-search-button
            = link_to "View all projects for this #{concept_scheme_singular_label.downcase}", main_app.projects_path(search_params)


  #concept-sidebar
    %h3 All #{concept_scheme_label}

    %ul
      - concept_scheme.concepts.each do |c|
        - if c.uri == concept.uri
          %li.current
            = (c.label || c.uri)
        - else
          %li
            = link_to (c.label || c.uri), resource_path_from_uri(c.uri)

