= stylesheet_link_tag "viz/tsb.viz.css"

= javascript_include_tag 'd3.v3.min.js'
= javascript_include_tag 'sparql.js'
= javascript_include_tag 'q.min.js'

= javascript_include_tag 'viz/DataSet.js'
= javascript_include_tag 'viz/SPARQLDataSource.js'
= javascript_include_tag 'viz/tsb.viz.project.js'

%p
  [home page - will use different layout]

#container{style: '1140px'}
  #project-chart

%ul
  %li= link_to "Dataset Metadata", "/data/#{TsbProjectData::DATASET_SLUG}"
  %li= link_to "About", "/about"

:javascript
  window.onload = function() {
    //TSB.Viz.Config.bgColor = 'transparent'; //remove bg color
    var projectId = 'http://tsb-projects.labs.theodi.org/id/project/730004';
    var container = document.getElementById('project-chart');
    TSB.Viz.Project(projectId, container, 570, 400);
  }