

/ = stylesheet_link_tag "viz/tsb.viz.css"

/ = javascript_include_tag 'd3.v3.min.js'
/ = javascript_include_tag 'sparql.js'
/ = javascript_include_tag 'q.min.js'

/ = javascript_include_tag 'viz/DataSet.js'
/ = javascript_include_tag 'viz/SPARQLDataSource.js'
/ = javascript_include_tag 'viz/tsb.viz.project.js'



/ :javascript
/   window.onload = function() {
/     //TSB.Viz.Config.bgColor = 'transparent'; //remove bg color
/     var projectId = 'http://tsb-projects.labs.theodi.org/id/project/730004';
/     var container = document.getElementById('project-chart');
/     TSB.Viz.Project(projectId, container, 570, 400);
/   }

!!! 5
%html
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description

    = stylesheet_link_tag :application

    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

    = javascript_include_tag :application

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'

    #home-viz
      = render "home/temp_map"
      #home-message Visualisation will appear here


    -# for sticky footer
    #wrap
      %header
        %nav
          .branding
            = link_to "/" do
              = image_tag "tsb-logo.png", alt: "TSB logo"

      %main

        - if content_for? :header
          %header
            .header-content
              = yield :header

        #home
          #home-header
            .container
              #home-header-title
                %h1
                  Explore projects funded by the Technology Strategy Board

              #home-header-actions
                #home-header-search
                  = form_tag '/projects', method: 'get' do
                    = text_field_tag :search_string, nil, :placeholder => 'Enter a project search term...', :autocomplete => :off
                    = submit_tag 'Search'

                  %p.help
                    Try searching by name, organisation, region or competition.


                #home-header-browse
                  %a{ href: '/projects' } Browse the data

          .container
            #home-main

              #home-intro
                :markdown
                  The Technology Strategy Board funds innovative projects to invest in the growth of businesses, technologies and sectors.

                  This site aims to provide greater understanding of which projects, businesses, regions and sectors receive grants.

                  All the data that underpins this site is available [for download](/projects.csv) so that other people can present or analyse it in other ways.

                  This is an alpha site. Please [send us feedback](mailto:Nic.Jefferis@tsb.gov.uk) about how the site could be improved to make it more useful to you.

              #home-panels
                .home-panel
                  :markdown
                    ### About the Data

                    The projects covered on this site date between 2003 and the present day, and are updated each month.

                    [Read More &raquo;](/about)

                .home-panel
                  :markdown
                    ### Developers

                    This is a linked data site: each project and organisation has its own page and its own URL. You can access CSV and Atom feeds of new projects from the [search page](/search) and can access data about projects and organisations in JSON and RDF formats.

                    [Explore the Linked Data &raquo;](/data)


    = render "application/footer"



    =# render 'publish_my_data/shared/google_analytics'