!!! 5
%html
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description

    = stylesheet_link_tag :application
    %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
    %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

    %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
    %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}
    = javascript_include_tag :application
    
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'

    -# for sticky footer
    #wrap
      %header
        %nav
          .branding
            = image_tag "tsb-logo.png", alt: "TSB logo"

          = form_tag '/projects', method: 'get' do
            .form-group
              = text_field_tag :search_string, nil, :placeholder => 'Search projects'

          

          -# probably just leave crumbs off - there's only 1 dataset
          =# yield :crumbs

      %main
        = render 'application/nav'

        - if content_for? :header
          %header
            .header-content
              = yield :header

        .container
          = yield

        - if content_for? :formats
          %footer.formats
            .container
              = yield :formats

        - if content_for? :advanced
          %footer.advanced
            .container
              = yield :advanced

        / uncomment for sticky footer
        / #push

    -# note: intentionally not in #wrap
    %footer
      .container
        [Footer Here]


    =# render 'publish_my_data/shared/google_analytics'