!!! 5
%html
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description

    = stylesheet_link_tag :application

    = yield :head

    = javascript_include_tag :application

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'

    = yield :above_header

    -# for sticky footer
    #wrap
      %header
        %nav
          .branding
            = link_to "/" do
              = image_tag "tsb-logo.png", alt: "TSB logo"

          = form_tag '/projects', method: 'get' do
            .form-group
              = submit_tag 'Search'
              = text_field_tag :search_string, nil, :placeholder => 'Search projects...'

      %main{class: (@advanced_section ? 'advanced' : '') }
        = render 'application/nav'

        - if content_for? :header
          %header
            .header-container
              .header-row
                - if @multi_column_header
                  = yield :header
                - else
                  .contents
                    = yield :header

        .container
          = yield

        - if content_for? :formats
          %footer.formats
            .container
              = yield :formats

        - if content_for? :advanced
          %footer.advanced
            .container
              = yield :advanced

        / uncomment for sticky footer
        / #push

    -# note: intentionally not in #wrap
    = render "application/footer"



    =# render 'publish_my_data/shared/google_analytics'