!!! 5
/[if lte IE 8] <html class="ie ie8" lang="en">
/[if IE 9] <html class="ie ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => 'en'}<>
  <!--<![endif]-->
  %head
    = render 'application/head'
  %body{class: body_class}
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'
    %article#wrap
      %header
        = render 'application/masthead', search: true
        = render 'application/nav'

        - if content_for? :header
          #titlebar
            .titlebar-container
              .titlebar-row
                = yield :header

      %main
        .container
          = yield

        - if content_for? :formats
          %footer.formats
            .container
              = yield :formats

        - if content_for? :advanced_footer
          %footer.advanced
            .container
              = yield :advanced_footer

    = render "application/footer"
    = render 'publish_my_data/shared/google_analytics'