!!! 5
/[if lte IE 8] <html class="ie ie8" lang="en">
/[if IE 9] <html class="ie ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => 'en'}<>
  <!--<![endif]-->
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description

    = stylesheet_link_tag :application

    = yield :head

    /[if lte IE 8]
      %script{src: "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      = javascript_include_tag "respond.min.js"

    = javascript_include_tag :application

    /[if lte IE 8]
      = javascript_include_tag "respond.min.js"

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'

    = yield :above_header

    -# for sticky footer
    #wrap
      %header
        %nav
          .branding
            = link_to "/" do
              = image_tag "tsb-logo.png", alt: "TSB logo"

          = form_tag '/projects', method: 'get' do
            .form-group
              = submit_tag 'Search'
              = text_field_tag :search_string, nil, :placeholder => 'Search projects...'

      %main{class: (@advanced_section ? 'advanced' : '') }
        = render 'application/nav'

        - if content_for? :header
          %header
            .header-container
              .header-row
                = yield :header

        .container
          = yield

        - if content_for? :formats
          %footer.formats
            .container
              = yield :formats

        - if content_for? :advanced_footer
          %footer.advanced
            .container
              = yield :advanced_footer

        / uncomment for sticky footer
        / #push

    -# note: intentionally not in #wrap
    = render "application/footer"

    =# render 'publish_my_data/shared/google_analytics'