!!! 5
%html
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description
    = javascript_include_tag :publish_my_data
    = stylesheet_link_tag :publish_my_data
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'
    %header
      %nav
        = render 'publish_my_data/shared/logo'
        = yield :crumbs
    %main= yield
    = render 'publish_my_data/shared/footer'
    = render 'publish_my_data/shared/google_analytics'