- # error layout: by default this is the same as application layout
- # but it's a separate layout for easier custom error pages in your app.

!!! 5
%html
  %head
    %title
      = render 'publish_my_data/shared/meta_title'
    = yield :page_description
    = javascript_include_tag :application
    = stylesheet_link_tag :application
  %body
    /[if lt IE 8]
      = render 'publish_my_data/shared/browser_warning'
    %header
      %nav
        = render 'publish_my_data/shared/logo'
        = yield :crumbs
    %main= yield
    = render 'publish_my_data/shared/footer'
    = render 'publish_my_data/shared/google_analytics'