#results-summary
  #results-summary-header
    #results-summary-count
      %span= pluralize(projects.total, 'project')
      found

  - if projects.total > 0
    #results-summary-figures
      #results-summary-total-grant
        %div Total grant
        .figure
          .pounds &pound;#{number_with_delimiter projects.facets["offer_grant_stats"]["total"].to_i}
          .pence .#{"%.2d" % (projects.facets["offer_grant_stats"]["total"].modulo(1).round(2) * 100).to_i}

      #results-summary-average-grant
        %div Average grant
        .figure
          .pounds &pound;#{number_with_delimiter projects.facets["offer_grant_stats"]["mean"].to_i}
          .pence .#{"%.2d" % (projects.facets["offer_grant_stats"]["mean"].modulo(1).round(2) * 100).to_i}

    :ruby
      total_cost = projects.facets["offer_cost_stats"]["total"]
      if total_cost && total_cost > 0
        grant_percent = ((projects.facets["offer_grant_stats"]["total"].to_f / total_cost) * 100).round
      else
        grant_percent = 0
      end

    #results-summary-progress
      #results-summary-progress-bar
        .prog-bar-background
          .prog-bar-fill{ style: "width: #{grant_percent}%;"}

    #results-summary-total-cost
      %div
        Total grant is
        %span.percent #{grant_percent.round(1)}%
        of total cost
        (<span class='total-cost'>#{number_to_currency projects.facets["offer_cost_stats"]["total"].to_f, unit: '&pound;'}</span>)
