- content_for :header do
  %h1
    Projects

- content_for :advanced do
  [download formats / atom]

#projects-page
  #search
    = form_tag '/projects', method: 'get' do
      = text_field_tag :search_string, @search.original_search_string, :placeholder => 'Search projects'
      = submit_tag 'search'

      #facets
        = render 'facet', title: 'Region', facet_name: 'region_labels'
        = render 'facet', title: 'Enterprise Size', facet_name: 'participant_size_labels'
        = render 'facet', title: 'Status', facet_name: 'status_label'
        =# render 'facet', title: 'Competition', facet_name: 'competition_label'
        = render 'facet', title: 'Budget Area', facet_name: 'team_label'
        = render 'facet', title: 'TSB Team', facet_name: 'budget_area_label'
        = render 'facet', title: 'SIC Class', facet_name:'participant_sic_class_labels'

      = submit_tag 'update'

  #results

    %div
      #{@projects.total} projects matched your search
    %div
      Offer grant total: &pound;#{@projects.facets["offer_grant_stats"]["total"].to_i},
      Mean: &pound;#{@projects.facets["offer_grant_stats"]["mean"]}
      %br
      Offer cost total &pound;#{@projects.facets["offer_cost_stats"]["total"].to_i},
      Mean: &pound;#{@projects.facets["offer_cost_stats"]["mean"]}
      %br
      %br
    %div
      Ordered by relevance.
      %br
      [ordering controls here]

    %ul
    - @projects.each do |project|
      = render 'result', project: project

    = paginate @projects