- content_for :header do
  %h1
    Projects

- content_for :advanced do
  [download formats / atom]

#projects-page
  #search
    = form_tag '/projects', id: 'faceted-search', method: 'get' do

      = submit_tag 'update results'

      = render 'projects/index/search_string'

      #filters
        = render 'projects/index/grant_slider'
        = render 'projects/index/date_slider'

      #facets
        = render 'projects/index/facet', title: 'Region', facet_name: 'region_labels'
        = render 'projects/index/facet', title: 'Enterprise Size', facet_name: 'participant_size_labels'
        = render 'projects/index/facet', title: 'Status', facet_name: 'status_label'
        = render 'projects/index/facet', title: 'Budget Area', facet_name: 'budget_area_label'
        = render 'projects/index/facet', title: 'SIC Section', facet_name:'participant_sic_section_labels'

      = submit_tag 'update results'

      %noscript
        :scss
          form#faceted-search {
            input[type='submit'] {
              display:inline !important;
            }

            a.reset {
              display:none !important;
            }

            #filters {
              .text-fields {
                display:block !important;
              }
            }
          }

      :javascript
        $(function() {
          $("form#faceted-search input[type='checkbox']").change( function(e) {
              console.log('checkbox changed');
              $("form#faceted-search").submit();
            }
          )
        });

  #results

    = render 'projects/index/summary', projects: @projects
    = render 'projects/index/list', projects: @projects
    = paginate @projects

