- content_for :header do
  %h1
    Projects

- content_for :advanced do
  [download formats / atom]

#projects-page
  #search
    = form_tag '/projects', method: 'get' do
      = text_field_tag :search_string, @search.original_search_string, :placeholder => 'Search projects'
      = submit_tag 'search'

      #facets
        = render 'facet', title: 'Region', facet_name: 'region_labels'
        = render 'facet', title: 'Enterprise Size', facet_name: 'participant_size_labels'
        = render 'facet', title: 'Status', facet_name: 'status_label'
        =# render 'facet', title: 'Competition', facet_name: 'competition_label'
        = render 'facet', title: 'Budget Area', facet_name: 'team_label'
        = render 'facet', title: 'TSB Team', facet_name: 'budget_area_label'
        = render 'facet', title: 'SIC Class', facet_name:'participant_sic_class_labels'

      = submit_tag 'update'

  #results

    #results-summary
      #results-summary-header
        #results-summary-count
          %span= pluralize(@projects.total, 'project')
          matched your search.

      #results-summary-figures
        #results-summary-total-grant
          %div Total grant
          .figure
            .pounds &pound;#{number_with_delimiter @projects.facets["offer_grant_stats"]["total"].to_i}
            .pence .#{"%.2d" % (@projects.facets["offer_grant_stats"]["total"].modulo(1).round(2) * 100).to_i}

        #results-summary-average-grant
          %div Average grant
          .figure
            .pounds &pound;#{number_with_delimiter @projects.facets["offer_grant_stats"]["mean"].to_i}
            .pence .#{"%.2d" % (@projects.facets["offer_grant_stats"]["mean"].modulo(1).round(2) * 100).to_i}

      #results-summary-progress
        #results-summary-progress-bar
          .prog-bar-background
            .prog-bar-fill{ style: "width: #{((@projects.facets["offer_grant_stats"]["total"].to_f / @projects.facets["offer_cost_stats"]["total"]) * 100).round}%;"}

      #results-summary-total-cost
        %div
          %span.percent #{((@projects.facets["offer_grant_stats"]["total"].to_f / @projects.facets["offer_cost_stats"]["total"]) * 100).round(1)}%
          of
          %span.total-cost= number_to_currency @projects.facets["offer_cost_stats"]["total"].to_f, unit: '&pound;'
          (total cost)


    %ul#results-list
      - @projects.each do |project|
        = render 'result', project: project

    = paginate @projects