- content_for :header do
  %h1
    Projects

- content_for :advanced do
  [download formats / atom]

#projects-page
  #search
    = form_tag '/projects', method: 'get' do
      = text_field_tag :search_string, @search.original_search_string, :placeholder => 'Search projects'
      = submit_tag 'search'

      #facets
        %div#region-facets
          %h4 Regions:
          - @projects.facets["regions"]["terms"].each do |t|
            - term = t["term"]
            = check_box_tag("regions[#{term}]", true, @search.regions_filter.include?(term) )
            #{term}
            %br

        %div#enterprise-size-facets
          %h4 Enterprise Sizes:
          - @projects.facets["enterprise_sizes"]["terms"].each do |t|
            - term = t["term"]
            = check_box_tag("enterprise_sizes[#{term}]", true, @search.enterprise_sizes_filter.include?(term) )
            #{term}
            %br

      = submit_tag 'update'

  #results

    %div
      #{@projects.total} projects matched your search
    %div
      Offer grant total: &pound;#{@projects.facets["offer_grant_stats"]["total"].to_i},
      Mean: &pound;#{@projects.facets["offer_grant_stats"]["mean"]}
      %br
      Offer cost total &pound;#{@projects.facets["offer_cost_stats"]["total"].to_i},
      Mean: &pound;#{@projects.facets["offer_cost_stats"]["mean"]}
      %br
      %br
    %div
      Ordered by relevance.
      %br
      [ordering controls here]

    %ul
    - @projects.each do |project|
      %li{style:"border-bottom:1px solid #eee"}
        %h4
          = link_to((project.label || project.uri), resource_path_from_uri(project.uri) )
        %p
          = truncate(project.description, length: 100)
        - if project.leader_uri
          Leader: #{link_to((project.leader_label || project.leader_uri), resource_path_from_uri(project.leader_uri) ) }
          %br
        - if project.participant_labels.many?
          Participants:
          - for i in 0...project.participant_uris.reject{|p| p == project.leader_uri }.length
            - participant_uri = project.participant_uris[i]
            - participant_label = project.participant_labels[i]
            = link_to((participant_label || participant_uri), resource_path_from_uri(participant_uri) )
          %br
        Offer grant: &pound;#{project.total_offer_grant}, cost: &pound;#{project.total_offer_cost}
        %br
        Regions: #{project.region_labels.join(',')}
    = paginate @projects