- content_for :header do
  %h3
    = link_to "Project", "/projects"
  %h1
    = project.label

- content_for :advanced do
  = render 'application/advanced_resource_details', resource: project

#project-page
  
  #project-main

    %section#project-about
      
      #project-about-primary
        #project-name
          %div Project name
          %div= project.label
        #project-dates
          %div Dates
          %div
            #project-start-date= project.duration.start.strftime("%-d %b %Y")
            \-
            #project-end-date= project.duration.end.strftime("%-d %b %Y")
        #project-status
          %div Status
          #project-status-label{ class: "project-status-#{project.project_status.label.parameterize}" }
            %span= project.project_status.label

      #project-about-secondary
        #project-number
          %div Project number
          %div= project.project_number
        #project-budget-area
          %div Budget area
          %div= project.competition.budget_area || "-"

      #project-about-tertiary
        #project-description
          %div Description
          %div
            = project.description.truncate(300)
            %a{ href: '#' } Read more
    

    %section#project-grant-summary.project-grant-details
      %h3 Grant summary

      #project-grant-summary-figures
        #project-total-offer-cost
          %div Total cost
          = render "projects/show/grant/offer_cost", offer_cost: project.offer_cost_sum
        
        #project-total-offer-grant
          %div Total grant
          = render "projects/show/grant/offer_grant", offer_grant: project.offer_grant_sum, offer_cost: project.offer_cost_sum
        
        #project-total-payments
          %div Total payments to date
          = render "projects/show/grant/payments_to_date", payments_to_date: project.payments_to_date_sum, offer_grant: project.offer_grant_sum
          

    %section#project-participants
      %h3 Participants

      #project-map-container
        #project-map
          #project-map-canvas
      = render "projects/show/map_js"

      = render "projects/show/participant_list", project: project

