- content_for :header do
  %h3
    Project
  %h1
    = project.label

- content_for :advanced do
  = render 'application/advanced_resource_details', resource: project

- content_for :head do
  %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
  %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

  %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
  %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

#project-page

  #project-main

    %section#project-about

      #project-about-primary
        #project-number
          %div Project number
          %div= project.project_number
        #project-dates
          %div Duration
          %div
            #project-start-date= project.duration.start.strftime("%-d %b %Y")
            \-
            #project-end-date= project.duration.end.strftime("%-d %b %Y")
        #project-status
          %div Status
          #project-status-label{ class: "project-status-#{project.project_status.label.parameterize}" }
            %span= project.project_status.label

      #project-about-secondary
        #project-number
          %div Cost Category
          %div= (project.cost_category.label rescue nil ) || "-"
        #project-budget-area
          %div Budget area
          %div= (project.competition.budget_area.label rescue nil) || "-"

      #project-about-tertiary
        #project-description
          %div Description
          %div
            = project.description.truncate(300)
            %a{ href: '#' } Read more

    %section#project-grant-summary.project-grant-details
      %h3 Grant summary (all participants)

      #project-grant-summary-figures

        #project-total-offer-grant
          %div Total grant
          = render "projects/show/grant/offer_grant", offer_grant: project.offer_grant_sum, offer_cost: project.offer_cost_sum

        #project-total-payments
          %div Total payments to date
          = render "projects/show/grant/payments_to_date", payments_to_date: project.payments_to_date_sum, offer_grant: project.offer_grant_sum


    %section#project-participants
      %h3 Participants

      #map-container
        #map
          #map-canvas

      - if project.participants.count > 1
        = render "projects/show/map_js", project: project
      - else
        = render "organizations/show/map_js", organization: project.participants.first

      = render "projects/show/participant_list", project: project

