- @advanced_section = true
- content_for :header do
  .contents
    %h3
      Linked Data
    %h1
      Datasets

#data-page
  .datasets
    .intro
      :markdown
        Introductory text. Mauris ut quam commodo, laoreet arcu et, molestie massa. Aliquam venenatis nisi lorem, et tincidunt eros ultrices quis. [Link to Developer Docs](/docs).

      %a.sparql-button{href: '/sparql'}
        %span.glyphicon.glyphicon-chevron-right
        Run a Sparql Query

    %ul#datasets-list
      = render 'publish_my_data/datasets/index/dataset', dataset: PublishMyData::Dataset.find_by_slug(TsbProjectData::DATASET_SLUG)
      = render 'publish_my_data/datasets/index/dataset', dataset: PublishMyData::Dataset.find_by_slug(Region::DATASET_SLUG)
      = render 'publish_my_data/datasets/index/dataset', dataset: PublishMyData::Dataset.find_by_slug(BudgetArea::DATASET_SLUG)

  .supporting-data
    .ontologies
      %h4 Ontologies
      %ul
        - ont = PublishMyData::Ontology.find(TsbProjectData::ONTOLOGY_GRAPH.to_s.gsub("/graph/", "/def/"))
        %li.internal
          = link_to (ont.label || ont.uri.to_s), resource_path_from_uri(ont.uri.to_s).to_s

        - PublishMyData::ThirdParty::Ontology.all.resources.sort{ |o1, o2| o1.label <=> o2.label }.each do |o|
          - unless o.uri == ont.uri
            %li.external
              = link_to (o.label || o.uri.to_s), resource_path_from_uri(o.uri.to_s).to_s

    .concept-schemes
      %h4 Concept Schemes
      %ul
        - PublishMyData::ConceptScheme.all.resources.sort{ |cs1, cs2| cs1.label <=> cs2.label }.each do |cs|
          %li.internal
            = link_to (cs.label || cs.uri.to_s), resource_path_from_uri(cs.uri.to_s).to_s
