:ruby
  @advanced_section = true
  page_title "Dataset: #{dataset.title}"
  page_description dataset.description

- content_for :header do
  .primary
    %h3
      Dataset
    %h1
      = dataset.title

  .secondary
    = link_to dataset.data_dump.to_s, class: 'dataset-download-btn' do
      %span.glyphicon.glyphicon-download
      .content
        Download
        .format
          as N-triples

- content_for :advanced_footer do
  .minimal
    .formats
      %span Get this dataset metadata as
      %ul.formats
        %li= link_to("JSON", show_resource_path(:uri => dataset.uri, format: 'json'))
        %li= link_to("RDF/XML", show_resource_path(:uri => dataset.uri, format: 'rdf'))
        %li= link_to("Turtle", show_resource_path(:uri => dataset.uri, format: 'ttl'))
        %li= link_to("N-triples", show_resource_path(:uri => dataset.uri, format: 'nt'))

%article#dataset
  = render 'application/metadata', resource: dataset

  %section#linked-data
    = render 'application/api_section', resource: dataset, type_label: "Dataset"

    %section#resource-types
      %h2 Types of resource in this dataset
      %ul
        - dataset.types.each do |type|
          %li
            .wrapper
              .primary
                %h3= resource_uri_or_label(type, type.uri)
                %code.uri.click-to-select= type.uri
                %section= type.comment
              .links
                = link_to "View all #{pluralize(dataset.type_count(type.uri), 'resource')} in this dataset", list_resources_path(dataset: dataset.slug, type_uri: type.uri)