- @active_tab = "Browse"

- content_for :header do
  .contents
    %h3
      Organization
    %h1
      = organization.label

- content_for :advanced_footer do
  = render 'application/advanced_footer', resource: organization

- content_for :head do
  %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
  %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

  %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
  %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

#organization-page

  #organization-main

    %section#organization-about

      #organization-about-primary
        #organization-name
          %div Organisation name
          %div= organization.label
        #organization-number
          %div Company number
          %div= organization.company_number


      #organization-about-secondary
        #organization-size
          %div Organization size
          %div= link_to organization.enterprise_size.label.humanize, resource_path_from_uri(organization.enterprise_size.uri)
        #organization-sic
          %div SIC classes
          %div
            - if organization.sic_classes.any?
              = organization.sic_classes.map { |s| "#{link_to s.label, '#'}" }.join(', ').html_safe
            - else
              \-

      #organization-about-tertiary
        #organization-legal
          %div Legal entity form
          %div= link_to organization.legal_entity_form.label, resource_path_from_uri(organization.legal_entity_form.uri)

        #organization-region
          %div Region
          %div= link_to organization.site.region.label, resource_path_from_uri(organization.site.region.uri)

      #organization-about-location
        #organization-address
          %div Address
          %div= organization.site.address.label

      - if organization.has_lat_long?
        #map-container
          #map
            #map-canvas
        = render "organizations/show/map_js", organization: organization


    %section#organization-grant-summary.organization-grant-details
      %h3 Grant summary

      #organization-grant-summary-figures

        #organization-total-offer-grant
          %div Total grant
          = render "projects/show/grant/offer_grant", offer_grant: organization.offer_grant_sum, offer_cost: organization.offer_cost_sum

        #organization-total-payments
          %div Total payments to date
          = render "projects/show/grant/payments_to_date", payments_to_date: organization.payments_to_date_sum, offer_grant: organization.offer_grant_sum


    %section#organization-projects
      %h3 Projects

      = render "organizations/show/project_list", organization: organization
