:ruby
  page_title "Organisation: #{organization.label}"
  @active_tab = "Browse"

- content_for :header do
  .contents
    %h3
      Organisation
    %h1
      = organization.label

- content_for :advanced_footer do
  = render 'application/advanced_footer', resource: organization

- content_for :head do
  %link{rel:"stylesheet", href:"//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"}
  %link{rel:"stylesheet", href:"//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.css"}

  %script{src: "//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"}
  %script{src: "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js"}

#organization-page

  #organization-main

    %section#organization-about

      #organization-about-primary
        #organization-number
          %div Company number
          - if organization.open_corporates_uri
            %div
              = link_to resource_path_from_uri(organization.open_corporates_uri) do
                = organization.company_number
                %span.glyphicon.glyphicon-share

          - else
            %div= organization.company_number

        #organization-size
          %div Enterprise size
          %div= link_to organization.enterprise_size.label, resource_path_from_uri(organization.enterprise_size.uri)

      #organization-about-secondary
        #organization-legal
          %div Legal entity form
          %div
          - if organization.legal_entity_form
            = link_to organization.legal_entity_form.label, resource_path_from_uri(organization.legal_entity_form.uri)
          - else
            \-

        #organization-region
          %div Region
          %div= link_to organization.site.region.label, resource_path_from_uri(organization.site.region.uri)


      #organization-about-tertiary
        #organization-sic
          %div SIC classes
          %div
            - if organization.sic_classes.any?
              = organization.sic_classes.map { |s| "#{link_to s.label, resource_path_from_uri(s.uri)}" }.join(', ').html_safe
            - else
              \-


      #organization-about-location
        #organization-address
          %div Address
          %div= organization.site.address.label

      - if organization.has_lat_long?
        #map-container
          #map
            #map-canvas
        = render "organizations/show/map_js", organization: organization


    %section#organization-grant-summary.organization-grant-details
      %h3 Grant summary for #{organization.label}
      = render 'application/grant_summary_stack', cost: organization.offer_cost_sum, max_cost: organization.offer_cost_sum, grant: organization.offer_grant_sum, payments: organization.payments_to_date_sum


    %section#organization-projects
      %h3 Largest Grants

      = render "organizations/show/project_list", organization: organization
